.blog-page
	margin-bottom: 40px

.blog-page h1
	font-size: responsive 20px 36px
	margin-top: 0

.blog-page p
	font-size: responsive 14px 16px
	line-height: 1.5
	margin-top: 10px

@media (max-width: 900px)
	.blog-single .text,
	.blog-single .footer
		padding: 0 15px